.login-container{
    width: 100%;
    height: 110vh;
    position: absolute;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    z-index: 100000;
    display: none;
    align-items: center;
}
.container-login{
    position: absolute;
    width: 30%;
    height: 60%;
    background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
    border: 2px solid rgba(255, 255, 255, 0.5); 
    display: none;
    justify-content: center;
    align-items: center;
    left: 34%;
    top: 20%;
    z-index: 2000000;
    border-radius: 10%;
}
.container-registro{
    position: absolute;
    width: 30%;
    height: 60%;
    background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
    border: 2px solid rgba(255, 255, 255, 0.5); /* Bordes con transparencia */
    display: none;
    justify-content: center;
    align-items: center;
    left: 34%;
    top: 20%;
    z-index: 20000000;
    border-radius: 10%;
}
.form-value{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}
.form-value form{
    width: 80%;
    height: 100%;
}
.container-h2{
    width: 100%;
    height: 30px;
    margin: 5px;
    font-size: 1.5em;
    color: #F2F2F2;
    text-align: center;
}
.container-input{
    position: relative;
    margin: 20px 0;
    width: 100%;
    border-bottom: 2px solid #F2F2F2;
}
.container-input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #F2F2F2;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;

}
.container-input input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #F2F2F2;
}
.container-input ion-icon{
    position: absolute;
    right: 8px;
    color: #F2F2F2;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #F2F2F2;
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 5px;
}
.forget label a{
    color: #F2F2F2;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
    color: #F96D00;
}
.button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #F2F2F2;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}
.login{
    font-size: 0.9em;
    color: #F2F2F2;
    text-align: center;
    margin: 25px 0 10px;
}
.login p a{
    text-decoration: none;
    color: #F2F2F2;
    font-weight: 600;
}
.login p a:hover{
    text-decoration: underline;
    color: #F96D00;
}
.registrar{
    font-size: 0.9em;
    color: #F2F2F2;
    text-align: center;
    margin: 25px 0 10px;
}
.registrar p a{
    text-decoration: none;
    color: #F2F2F2;
    font-weight: 600;
}
.registrar p a:hover{
    text-decoration: underline;
    color: #F96D00;
}