 .ventana-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.contenido-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenido-modal input{
  margin-top: 5%;
  width: 90%;
  height: 1.375rem;
  border-radius: 4px;
}

.contenido-modal select{
  margin-bottom: 5%;
  margin-top: 5%;
  width: 70%;
  height: 1.375rem;
  border-radius: 4px;
}

.contenido-modal button{
  width: 35%;
  height: 1.875rem;
  cursor: pointer;
  border-radius: 4px;
} 
.archivo-ecxel{
  background-color: red;
  width: 100%;
}

@media (max-width: 600px) {
  .tabla {
      flex-direction: column;
  }
} */
/* .container-formVentana{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
  z-index: 1001;
  

}

.contenedor-totalVentana {
    display: grid;
    place-items: center;
    width: 40%;
    height: 60%;
    background-color: #ff6600; 
    border-radius: 10%;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group input {
    flex: 1;
    margin-right: 10px;
    
}
.btn-guardar-peso{
    background-color: #393E46;
    border-radius: 10%;
    width: 30%;
    height: 40px;
    color: #ffff;
} */

.ventana-modal{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.contenido-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contenido-modal input{
margin-top: 5%;
width: 70%;
height: 1.375rem;
border-radius: 4px;
}

.contenido-modal select{
margin-bottom: 5%;
margin-top: 5%;
width: 70%;
height: 1.375rem;
border-radius: 4px;
}

.contenido-modal button{
width: 35%;
height: 1.875rem;
cursor: pointer;
border-radius: 4px;}
