.titulo-nosotros {
  position: absolute;
  top: 2200px;
}

.contenedor-cartas {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  
}
.contenedor-creadores {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-creadores {
  width: 60px;
  height: 60px;
}

.contenedor-carta {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.imagen-pablo {
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: 50px;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  transition: all 400ms;
}
.imagen-Camilo {
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: 20px;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  transition: all 400ms;
}
.imagen-sebas {
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: -50px;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  transition: all 400ms;
}
.imagen-andres {
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: 30px;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  transition: all 400ms;
}
.imagen-boris{
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: -50px;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  transition: all 400ms;
}
.imagen-pablo:hover {
  top: -10px;
}
.imagen-Camilo:hover {
  top: -18px;
}
.imagen-sebas:hover {
  top: -100px;
}
.imagen-andres:hover {
    top: -11px;
}
.imagen-boris:hover {
  top: -85px;
}
.instagram,
.github,
.whatsapp {
  width: 40px;
  height: 40px;
}

.card {
  width: 300px;
  margin-left: 20px;
  transition: all 300ms;
}

.card:hover {
  width: 300px;
  bottom: 20px;
}

.card .cover {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.card .img__back {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -80px;
  left: 0;
  background-size: cover;
  border-radius: 20px;
  transition: all 300ms;
}

.card:nth-of-type(1) .img__back {
  background-image: url(../img/bg1.jpg);
}

.card:hover .img__back {
  bottom: -40px;
}

.card .description {
  background: white;
  margin-top: -10px;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  transition: all 300ms;
}

.card:hover .description {
  padding: 40px;
}

.card .description h2 {
  margin-top: 10px;
}

.card .description p {
  margin-top: 10px;
}

.redes-sociales a {
  margin-top: 15px;
  transition: 300ms;
}

.redes-sociales {
  width: 100%;
  height: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
}
